	<!-- REVOLUTION SLIDER -->
    <div class="slider fullwidthbanner-container roundedcorners">
        <!--
                Navigation Styles:
                
                    data-navigationStyle="" theme default navigation
                    
                    data-navigationStyle="preview1"
                    data-navigationStyle="preview2"
                    data-navigationStyle="preview3"
                    data-navigationStyle="preview4"
                    
                Bottom Shadows
                    data-shadow="1"
                    data-shadow="2"
                    data-shadow="3"
                    
                Slider Height (do not use on fullscreen mode)
                    data-height="300"
                    data-height="350"
                    data-height="400"
                    data-height="450"
                    data-height="500"
                    data-height="550"
                    data-height="600"
                    data-height="650"
                    data-height="700"
                    data-height="750"
                    data-height="800"
            -->
        <div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
            <ul class="hide">


                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide 2">

                    <img src="assets/images/1x1.png" data-lazyload="assets/images/demo/thematics/restaurant/slider_2-min.jpg" alt="" data-bgfit="cover"
                        data-bgposition="center bottom" data-bgrepeat="no-repeat" />

                    <div class="overlay dark-1">
                        <!-- dark overlay [1 to 9 opacity] -->
                    </div>
                    <div class="tp-caption customin ltl tp-resizeme large_bold_white" data-x="center" data-y="205" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800" data-start="1200" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                        data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 10;">
                        مرحبا بكم فى موقع طلبات
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme small_light_white font-lato" data-x="center" data-y="295" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800" data-start="1400" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                        data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 10; width: 100%; max-width: 750px; white-space: normal; text-align:center; font-size:20px;">
                        هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع
                        الفقرات في الصفحة التي يقرأها
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme" data-x="center" data-y="383" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800" data-start="1550" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                        data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 10;">
                        <a href="#purchase" class="btn btn-default btn-lg">
                            <span>الحق العرض الان</span>
                        </a>
                    </div>

                </li>


            </ul>

            <div class="tp-bannertimer">
                <!-- progress bar -->
            </div>
        </div>
    </div>
    <!-- /REVOLUTION SLIDER -->


    <!-- INFO BAR -->
    <section class="home-offers">
        <div class="container">

            <div class="row">

                <div class="col-md-2 col-sm-12 nopadding-x">
                    <div class="box-static box-border-top btn-hvr hvr-sweep-to-left">
                        <div class="box-title">
                            <h4 class="size-26">المزيد من العروض</h4>
                        </div>

                    </div>
                </div>
                <div class="col-md-10">
                    <div class="text-center">
                        <div id="home-carousel" class="owl-carousel owl-padding-1 nomargin buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items": "4", "autoPlay": 3500, "navigation": true, "pagination": false}'>
                            <!-- item -->
                            <div class="item-box">
                                <figure>
                                    <span class="item-hover hvr-bounce-to-left">
                                        
                                        <span class="inner ">
                                            <h4>اسم المنتج</h4>
                                        </span>
                                    </span>
                                    <img class="img-responsive" src="assets/images/demo/thematics/restaurant/a-min.jpg" width="600" height="399" alt="">
                                </figure>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="item-box">
                                <figure>
                                    <span class="item-hover hvr-bounce-to-left">
                                        <span class="inner">
                                            <h4>اسم المنتج</h4>
                                        </span>
                                    </span>
                                    <img class="img-responsive" src="assets/images/demo/thematics/restaurant/a-min.jpg" width="600" height="399" alt="">
                                </figure>
                            </div>
                            <!-- /item -->

                            <!-- item -->
                            <div class="item-box">
                                <figure>
                                    <span class="item-hover hvr-bounce-to-left">
                                        
                                        <span class="inner">
                                            <h4>اسم المنتج</h4>
                                        </span>
                                    </span>
                                    <img class="img-responsive" src="assets/images/demo/thematics/restaurant/a-min.jpg" width="600" height="399" alt="">
                                </figure>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="item-box">
                                <figure>
                                    <span class="item-hover hvr-bounce-to-left">
                                        
                                        <span class="inner">
                                            <h4>اسم المنتج</h4>
                                        </span>
                                    </span>
                                    <img class="img-responsive" src="assets/images/demo/thematics/restaurant/a-min.jpg" width="600" height="399" alt="">
                                </figure>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="item-box">
                                <figure>
                                    <span class="item-hover hvr-bounce-to-left">
                                        
                                        <span class="inner">
                                            <h4>اسم المنتج</h4>
                                        </span>
                                    </span>
                                    <img class="img-responsive" src="assets/images/demo/thematics/restaurant/a-min.jpg" width="600" height="399" alt="">
                                </figure>
                            </div>
                            <!-- /item -->
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- /INFO BAR -->



    <!-- WELCOME -->
    <section class="nopadding bg-green">
        <div class="container-fluid">
            <div class="search-bar">
                <div class="row">
                    <div class="col-md-4">
                        <div class="fancy-form">
                            <i class="fa fa-search"></i>

                            <input type="tel" class="form-control" placeholder="ابحث هنا">

                            <!-- tooltip - optional, bootstrap tooltip can be used instead -->
                            <span class="fancy-tooltip top-left">
                                <!-- positions: .top-left | .top-right -->
                                <em>ابحث داخل منتجات طلبات</em>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="fancy-form fancy-form-select">
                            <select class="form-control select2">
                                <option value="">--- منتجات ---</option>
                                <option value="1">منتجات</option>
                                <option value="2">منتجات</option>
                                <option value="3">منتجات</option>
                            </select>
                            <i class="fancy-arrow"></i>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="fancy-form fancy-form-select">
                            <select class="form-control select2">
                                <option value="">--- فرع ---</option>
                                <option value="1">فرع</option>
                                <option value="2">فرع</option>
                                <option value="3">فرع</option>
                            </select>
                            <i class="fancy-arrow"></i>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="btn btn-hvr hvr-shutter-out-horizontal">ابحث</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /WELCOME -->
    <!-- -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 box-img-hover-effect">
                    <div class="item-box">
                        <figure>
                            <span class="item-hover hvr-shutter-in-horizontal">
                                <span class="inner">
                                    <a href="#" class="btn btn-hvr hvr-sweep-to-left">
                                        <i class="fa fa-headphones"></i>1ادخل لخدمة العملاء</a>
                                    <p>
                                        هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع
                                        الفقرات في الصفحة التي يقرأها
                                    </p>
                                </span>
                            </span>
                            <img class="img-responsive" src="assets/images/demo/thematics/restaurant/a-min.jpg" width="600" height="399" alt="">
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 box-img-hover-effect">
                    <div class="item-box">
                        <figure>
                            <span class="item-hover hvr-bounce-to-bottom">
                                <span class="inner">
                                    <a href="#" class="btn btn-hvr hvr-sweep-to-top">
                                        <i class="fa fa-headphones"></i>1ادخل لخدمة العملاء</a>
                                    <p>
                                        هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع
                                        الفقرات في الصفحة التي يقرأها
                                    </p>
                                </span>
                            </span>
                            <img class="img-responsive" src="assets/images/demo/thematics/restaurant/a-min.jpg" width="600" height="399" alt="">
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 box-img-hover-effect">
                    <div class="item-box">
                        <figure>
                            <span class="item-hover hvr-shutter-in-horizontal">
                                <span class="inner">
                                    <a href="#" class="btn btn-hvr hvr-sweep-to-left">
                                        <i class="fa fa-headphones"></i>1ادخل لخدمة العملاء</a>
                                    <p>
                                        هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع
                                        الفقرات في الصفحة التي يقرأها
                                    </p>
                                </span>
                            </span>
                            <img class="img-responsive" src="assets/images/demo/thematics/restaurant/a-min.jpg" width="600" height="399" alt="">
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 box-img-hover-effect">
                    <div class="item-box">
                        <figure>
                            <span class="item-hover hvr-bounce-to-top">
                                <span class="inner">
                                    <a href="#" class="btn btn-hvr hvr-sweep-to-left">
                                        <i class="fa fa-headphones"></i>1ادخل لخدمة العملاء</a>
                                    <p>
                                        هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع
                                        الفقرات في الصفحة التي يقرأها
                                    </p>
                                </span>
                            </span>
                            <img class="img-responsive" src="assets/images/demo/thematics/restaurant/a-min.jpg" width="600" height="399" alt="">
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 box-img-hover-effect">
                    <div class="item-box">
                        <figure>
                            <span class="item-hover hvr-bounce-to-bottom">
                                <span class="inner">
                                    <a href="#" class="btn btn-hvr hvr-sweep-to-left">
                                        <i class="fa fa-headphones"></i>1ادخل لخدمة العملاء</a>
                                    <p>
                                        هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع
                                        الفقرات في الصفحة التي يقرأها
                                    </p>
                                </span>
                            </span>
                            <img class="img-responsive" src="assets/images/demo/thematics/restaurant/a-min.jpg" width="600" height="399" alt="">
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 box-img-hover-effect">
                    <div class="item-box">
                        <figure>
                            <span class="item-hover hvr-bounce-to-bottom">
                                <span class="inner">
                                    <a href="#" class="btn btn-hvr hvr-sweep-to-left">
                                        <i class="fa fa-headphones"></i>1ادخل لخدمة العملاء</a>
                                    <p>
                                        هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع
                                        الفقرات في الصفحة التي يقرأها
                                    </p>
                                </span>
                            </span>
                            <img class="img-responsive" src="assets/images/demo/thematics/restaurant/a-min.jpg" width="600" height="399" alt="">
                        </figure>
                    </div>
                </div>
            </div>



        </div>
    </section>
    <!-- / -->