@font-face {
  font-family: arabic;
  src: url(../fonts/DroidKufi-Regular.ttf);
}

*,
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "arabic";
}

.tp-simpleresponsive .caption,
.tp-simpleresponsive .tp-caption {
  font-family: "arabic";
}
.overlay.green-82 {
  background-color: rgba(0, 115, 103, 0.82);
}

#home-carousel .owl-carousel {
  background-color: #007367;
  border: 4px solid #007367;
}

#home-carousel .overlay.green-82 {
  background-color: rgba(0, 115, 103, 0.82);
  height: 35%;
  top: 40%;
  width: 95%;
  left: 5.5%;
}


/* #home-carousel .item-box .item-hover{
    top: 50%;
    height: 50%;
} */

#home-carousel .inner {
  height: 35%;
  top: 55%;
}

#home-carousel .inner h4 {
  color: #fff;
  font-family: arabic;
}

.bg-green {
  background-color: #007367 !important;
}

.nopadding-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.size-26 {
  font-size: 26px !important;
}

.home-offers .box-static.box-border-top .box-title {
  margin: 0;
}

.home-offers .box-static.box-border-top {
  border-color: #007367;
  background-color: #ffde00;
  margin: 0;
  padding: 34px;
  transition: .7s;
}

.home-offers .box-static.box-border-top .box-title h4 {
  color: #007367;
  text-align: center;
  font-family: arabic;
  transition: .7s;
}

.home-offers .box-static.box-border-top:hover {
  border-color: #ffde00;
}

.home-offers .box-static.box-border-top:hover .box-title h4 {
  color: #ffde00;
  text-align: center;
  font-family: arabic;
}

.search-bar {
  display: block;
  margin: 10px auto;
  width: 95%;
  padding: 20px 10px;
  box-shadow: 0 1px 10px 1px rgba(187, 187, 187, 0.82);
  background-color: #fff;
}

.search-bar .btn {
  width: 100%;
  border-radius: 0;
  margin: 0;
}

.box-img-hover-effect {
  height: 250px;
  background-size: length;
}

.box-img-hover-effect .btn {
  width: 80%;
  margin: 0;
  position: absolute;
  top: 1%;
  right: 0;
  border-radius: 0;
  background-color: #ffde00;
  color: #007367 !important;
}

.box-img-hover-effect .btn:hover {
  color: #fff !important;
}

.box-img-hover-effect p {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 1%;
  right: 0;
  border-radius: 0;
}

.box-img-hover-effect .overlay.green-4 {
  background-color: rgba(0, 115, 103, 0.4);
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
}

.box-img-hover-effect .item-box .item-hover .inner {
  height: 100%;
  top: 4%;
}

.box-img-hover-effect .item-hover.hvr-bounce-to-bottom:before,
.box-img-hover-effect .item-hover.hvr-shutter-in-horizontal,
.box-img-hover-effect .item-hover.hvr-shutter-out-horizontal:before,
.box-img-hover-effect .item-hover.hvr-bounce-to-top:before {
  background-color: rgba(0, 115, 103, 0.4);
}

#home-carousel .item-hover.hvr-bounce-to-left:before {
  background-color: rgba(0, 115, 103, 0.6);
}

#footer {
  background: none;
  background-color: #007367;
}

@media only screen and (max-width: 760px) {
  .select2-container {
    width: 100%
  }
}

.sticky-side-right {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: auto;
  z-index: 100;
}

.sticky-side-left {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: auto;
  z-index: 100;
  left: -40px;
  background-color: #ffde00;
  color: #005c52;
  padding: 5px 10px;
}

.rating-box {
  background-color: #ffde00;
  color: #005c52;
  padding: 5px 10px;
  font-weight: 600;
}

.rating-modal .modal-dialog {
  right: 50px;
  position: absolute;
  top: 25%;
  width: 600px;
}

.rating-modal .modal-dialog:after {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  width: 0;
  height: 0;
  margin-right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #f8f8f8;
}

.modal-open {
  padding: 0 !important;
  overflow: auto;
}

.star-rating {
  line-height: 32px;
  font-size: 1.25em;
}

.star-rating .fa-star {
  color: #ffde00;
}

.qty {
  float: none !important;
}

.item-sold {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 5px 0;
}

.cartContent .row {
  margin-bottom: 0;
}
/* menu */
#topNav a.logo,#topMain>li>a{
  height: 65px;
  line-height: 50px;
  
}
#topMain.nav-pills>li>a{
  color: #005c52;
  text-align: right;
}
#topMain.nav-pills>li:hover>a, #topMain.nav-pills>li:focus>a{
  color: #fff;
}
#header a.logo>img{
  position: absolute;
  height: 100px;
  margin-top: 5px;
}
#topNav .navbar-collapse{
  width: 60%;
  margin:auto;
  float: none !important;
}
#header ul.nav-second-main{
  margin-top: 30px;
}
#header li.quick-cart .quick-cart-box{
  margin-top: 15px;
}
.white{
  color: #fff;
}
.rest-name{
  font-weight: 300;
  padding:10px 5px;
  font-size: 14px;
}


/* number input edit */
.box-static button{
  width: 100%;
}
.res-details{
  padding: 5px 10px;
}
.order-qty{
  padding: 5px 10px;
  background-color: #f8f8f8;

}
#qty{
  width: 50%;
  height: 22px;
  text-align: center;
  
}
.add{
  float: right;
  height: 22px;
  width: 25%;
  background-color:#005c52;
  color: #fff; 
  text-align: center;
  cursor: pointer;
}
.sub{
  float: left;
  height: 22px;
  width: 25%;
  background-color:#005c52;
  color: #fff; 
  text-align: center;
  cursor: pointer;
}