<div id="header" class="transparent clearfix">
  <!-- TOP NAV -->
  <header id="topNav">
    <div class="">
      <!-- Logo -->

      <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
        <nav class="nav-main">
          <ul id="topMain" class="nav nav-pills nav-main">
            <li>
              <a id="sidepanel_btn" href="#" class="fa fa-bars"></a>

            </li>
            <li>
              <a class="talbat-logo" href="#">
                <img src="assets/images/logo_dark.png" class="img-responsive " alt="" />
              </a>
            </li>
          </ul>


        </nav>
        <nav class="nav-main">
          <ul id="lang" class="nav nav-pills nav-main">
            <li>
              <a id="lang-btn" class="fa fa-language" href="#"></a>

            </li>
          </ul>
        </nav>
      </div>

    </div>
  </header>
  <!-- /Top Nav -->
</div>
<router-outlet></router-outlet>

