<div class="bg-page">
  <section class="page-header page-header-lg parallax parallax-3" style="background-image:url('assets/images/demo/thematics/restaurant/slider_2-min.jpg')">
    <div class="overlay dark-5">
      <!-- dark overlay [1 to 9 opacity] -->
    </div>

    <div class="container">

      <h1>اسم المطعم</h1>


      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li>
          <a href="#">الرئيسية</a>
        </li>
        <li>
          <a href="#">قائمة المطاعم</a>
        </li>
        <li>
          <a class="active">اسم المطعم</a>
        </li>

      </ol>
      <!-- /breadcrumbs -->

    </div>
  </section>
  <div class="container">
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <img src="assets/images/logos/Zait-Zaytoon.jpg" class="img-thumbnail">
          </div>
          <div class="col-md-3">
            <h3>اسم المطعم</h3>
            <h5>مشويات و اكل عربى</h5>
          </div>
          <div class="col-md-3 pull-left">
            <h5>مفتوح</h5>
            <span class="size-14 text-muted">
              <!-- stars -->
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <ul id="myTab" class="nav nav-tabs nav-top-border margin-top-80" role="tablist">
              <li role="presentation" class="active">
                <a href="#menu" role="tab" class=" hvr-grow" data-toggle="tab">قائمة الطعام</a>
              </li>
              <li role="presentation">
                <a href="#specs" class=" hvr-grow" role="tab" data-toggle="tab"> معلومات المطعم</a>
              </li>
              <li role="presentation">
                <a href="#reviews" role="tab" class=" hvr-grow" data-toggle="tab">أراء عملاؤنا</a>
              </li>
            </ul>
            <div class="tab-content padding-top-20">
              <!-- menu -->
              <div role="tabpanel" class="tab-pane fade active in" id="menu">
                <div class="row">
                  <div class="col-md-3">
                    <div class="side-nav margin-bottom-60">

                      <div class="side-nav-head">
                        <button class="fa fa-bars"></button>
                        <h4>التصنيفات</h4>
                      </div>

                      <ul class="list-group list-group-bordered list-group-noicon uppercase">
                        <li class="list-group-item active">
                          <a class="scrollTo" href="#most">الاكثر مبيعاً</a>
                        </li>
                        <li class="list-group-item">
                          <a class="scrollTo" href="#offers">عروض خاصة</a>

                        </li>
                        <li class="list-group-item">
                          <a class="scrollTo" href="#fastfood">وجبات سريعة</a>
                        </li>
                        <li class="list-group-item">
                          <a class="scrollTo" href="#sandwitch">وجبات ساندويتش</a>
                        </li>


                      </ul>

                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="toggle toggle-transparent-body">

                      <div class="toggle active" id="most">
                        <label>الاكثر مبيعاً</label>
                        <div class="toggle-content">
                          <div class="row meal-row">
                            <div class="col-md-3">
                              <img src="assets/images/demo/thematics/restaurant/a-min.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-md-5">
                              <h4>اسم الوجبة</h4>
                              <p>وصف الوجبة</p>
                            </div>
                            <div class="col-md-3">
                              <h5>25 ريال سعودي</h5>
                              <span class="size-14 text-muted">
                                <!-- stars -->
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                              </span>
                            </div>
                            <div class="col-md-1">
                              <a href="#" class="img-rounded">
                                <i class="fa fa-plus"></i>
                              </a>
                            </div>
                          </div>
                          <hr>
                          <div class="row meal-row">
                            <div class="col-md-3">
                              <img src="assets/images/demo/thematics/restaurant/a-min.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-md-5">
                              <h4>اسم الوجبة</h4>
                              <p>وصف الوجبة</p>
                            </div>
                            <div class="col-md-3">
                              <h5>25 ريال سعودي</h5>
                              <span class="size-14 text-muted">
                                <!-- stars -->
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                              </span>
                            </div>
                            <div class="col-md-1">
                              <a href="#" class="img-rounded">
                                <i class="fa fa-plus"></i>
                              </a>
                            </div>
                          </div>
                          <hr>
                          <div class="row meal-row">
                            <div class="col-md-3">
                              <img src="assets/images/demo/thematics/restaurant/a-min.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-md-5">
                              <h4>اسم الوجبة</h4>
                              <p>وصف الوجبة</p>
                            </div>
                            <div class="col-md-3">
                              <h5>25 ريال سعودي</h5>
                              <span class="size-14 text-muted">
                                <!-- stars -->
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                              </span>
                            </div>
                            <div class="col-md-1">
                              <a href="#" class="img-rounded">
                                <i class="fa fa-plus"></i>
                              </a>
                            </div>
                          </div>
                          <hr>
                          <div class="row meal-row">
                            <div class="col-md-3">
                              <img src="assets/images/demo/thematics/restaurant/a-min.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-md-5">
                              <h4>اسم الوجبة</h4>
                              <p>وصف الوجبة</p>
                            </div>
                            <div class="col-md-3">
                              <h5>25 ريال سعودي</h5>
                              <span class="size-14 text-muted">
                                <!-- stars -->
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                              </span>
                            </div>
                            <div class="col-md-1">
                              <a href="#" class="img-rounded">
                                <i class="fa fa-plus"></i>
                              </a>
                            </div>
                          </div>
                          <hr>
                        </div>
                      </div>

                      <div class="toggle active" id="offers">
                        <label>عروض خاصة</label>
                        <div class="toggle-content">
                          <div class="row meal-row">
                            <div class="col-md-3">
                              <img src="assets/images/demo/thematics/restaurant/a-min.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-md-5">
                              <h4>اسم الوجبة</h4>
                              <p>وصف الوجبة</p>
                            </div>
                            <div class="col-md-3">
                              <h5>25 ريال سعودي</h5>
                              <span class="size-14 text-muted">
                                <!-- stars -->
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                              </span>
                            </div>
                            <div class="col-md-1">
                              <a href="#" class="img-rounded">
                                <i class="fa fa-plus"></i>
                              </a>
                            </div>
                          </div>
                          <hr>
                          <div class="row meal-row">
                            <div class="col-md-3">
                              <img src="assets/images/demo/thematics/restaurant/a-min.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-md-5">
                              <h4>اسم الوجبة</h4>
                              <p>وصف الوجبة</p>
                            </div>
                            <div class="col-md-3">
                              <h5>25 ريال سعودي</h5>
                              <span class="size-14 text-muted">
                                <!-- stars -->
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                              </span>
                            </div>
                            <div class="col-md-1">
                              <a href="#" class="img-rounded">
                                <i class="fa fa-plus"></i>
                              </a>
                            </div>
                          </div>
                          <hr>
                          <div class="row meal-row">
                            <div class="col-md-3">
                              <img src="assets/images/demo/thematics/restaurant/a-min.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-md-5">
                              <h4>اسم الوجبة</h4>
                              <p>وصف الوجبة</p>
                            </div>
                            <div class="col-md-3">
                              <h5>25 ريال سعودي</h5>
                              <span class="size-14 text-muted">
                                <!-- stars -->
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                              </span>
                            </div>
                            <div class="col-md-1">
                              <a href="#" class="img-rounded">
                                <i class="fa fa-plus"></i>
                              </a>
                            </div>
                          </div>
                          <hr>
                          <div class="row meal-row">
                            <div class="col-md-3">
                              <img src="assets/images/demo/thematics/restaurant/a-min.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-md-5">
                              <h4>اسم الوجبة</h4>
                              <p>وصف الوجبة</p>
                            </div>
                            <div class="col-md-3">
                              <h5>25 ريال سعودي</h5>
                              <span class="size-14 text-muted">
                                <!-- stars -->
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                              </span>
                            </div>
                            <div class="col-md-1">
                              <a href="#" class="img-rounded">
                                <i class="fa fa-plus"></i>
                              </a>
                            </div>
                          </div>
                          <hr>
                          <div class="row meal-row">
                            <div class="col-md-3">
                              <img src="assets/images/demo/thematics/restaurant/a-min.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-md-5">
                              <h4>اسم الوجبة</h4>
                              <p>وصف الوجبة</p>
                            </div>
                            <div class="col-md-3">
                              <h5>25 ريال سعودي</h5>
                              <span class="size-14 text-muted">
                                <!-- stars -->
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                              </span>
                            </div>
                            <div class="col-md-1">
                              <a href="#" class="img-rounded">
                                <i class="fa fa-plus"></i>
                              </a>
                            </div>
                          </div>
                          <hr>
                          <div class="row meal-row">
                            <div class="col-md-3">
                              <img src="assets/images/demo/thematics/restaurant/a-min.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-md-5">
                              <h4>اسم الوجبة</h4>
                              <p>وصف الوجبة</p>
                            </div>
                            <div class="col-md-3">
                              <h5>25 ريال سعودي</h5>
                              <span class="size-14 text-muted">
                                <!-- stars -->
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                              </span>
                            </div>
                            <div class="col-md-1">
                              <a href="#" class="img-rounded">
                                <i class="fa fa-plus"></i>
                              </a>
                            </div>
                          </div>
                          <hr>

                        </div>
                      </div>

                      <div class="toggle active" id="fastfood">
                        <label>وجبات سريعة</label>
                        <div class="toggle-content">
                          <div class="row meal-row">
                            <div class="col-md-3">
                              <img src="assets/images/demo/thematics/restaurant/a-min.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-md-5">
                              <h4>اسم الوجبة</h4>
                              <p>وصف الوجبة</p>
                            </div>
                            <div class="col-md-3">
                              <h5>25 ريال سعودي</h5>
                              <span class="size-14 text-muted">
                                <!-- stars -->
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                              </span>
                            </div>
                            <div class="col-md-1">
                              <a href="#" class="img-rounded">
                                <i class="fa fa-plus"></i>
                              </a>
                            </div>
                          </div>
                          <div class="row meal-row">
                            <div class="col-md-3">
                              <img src="assets/images/demo/thematics/restaurant/a-min.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-md-5">
                              <h4>اسم الوجبة</h4>
                              <p>وصف الوجبة</p>
                            </div>
                            <div class="col-md-3">
                              <h5>25 ريال سعودي</h5>
                              <span class="size-14 text-muted">
                                <!-- stars -->
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                              </span>
                            </div>
                            <div class="col-md-1">
                              <a href="#" class="img-rounded">
                                <i class="fa fa-plus"></i>
                              </a>
                            </div>
                          </div>
                          <hr>
                        </div>
                      </div>
                      <div class="toggle active" id="sandwitch">
                          <label>وجبات ساندويتش</label>
                          <div class="toggle-content">
                            <div class="row meal-row">
                              <div class="col-md-3">
                                <img src="assets/images/demo/thematics/restaurant/a-min.jpg" class="img-thumbnail">
                              </div>
                              <div class="col-md-5">
                                <h4>اسم الوجبة</h4>
                                <p>وصف الوجبة</p>
                              </div>
                              <div class="col-md-3">
                                <h5>25 ريال سعودي</h5>
                                <span class="size-14 text-muted">
                                  <!-- stars -->
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                </span>
                              </div>
                              <div class="col-md-1">
                                <a href="#" class="img-rounded">
                                  <i class="fa fa-plus"></i>
                                </a>
                              </div>
                            </div>
                            <div class="row meal-row">
                              <div class="col-md-3">
                                <img src="assets/images/demo/thematics/restaurant/a-min.jpg" class="img-thumbnail">
                              </div>
                              <div class="col-md-5">
                                <h4>اسم الوجبة</h4>
                                <p>وصف الوجبة</p>
                              </div>
                              <div class="col-md-3">
                                <h5>25 ريال سعودي</h5>
                                <span class="size-14 text-muted">
                                  <!-- stars -->
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                </span>
                              </div>
                              <div class="col-md-1">
                                <a href="#" class="img-rounded">
                                  <i class="fa fa-plus"></i>
                                </a>
                              </div>
                            </div>
                            <hr>
                          </div>
                        </div>

                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade " id="specs">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>الميزة</th>
                        <th>التوافر</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>تكييف</td>
                        <td>
                          <i class="fa fa-check text-success"></i> نعم </td>
                      </tr>
                      <tr>
                        <td>واي فاي</td>
                        <td>
                          <i class="fa fa-check text-success"></i> نعم </td>
                      </tr>
                      <tr>
                        <td>اماكن لعائلات</td>
                        <td>
                          <i class="fa fa-check text-success"></i> نعم </td>
                      </tr>
                      <tr>
                        <td>قسم مدخنين</td>
                        <td>
                          <i class="glyphicon glyphicon-remove text-danger"></i> لا </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <!-- REVIEWS -->
              <div role="tabpanel" class="tab-pane fade" id="reviews">
                <!-- REVIEW ITEM -->
                <div class="block margin-bottom-20">

                  <span class="user-avatar">
                    <!-- user-avatar -->
                    <img class="pull-right media-object" src="assets/images/avatar2.jpg" width="64" height="64" alt="">
                  </span>

                  <div class="media-body">
                    <h4 class="media-heading size-14">
                      أحمد سمير &ndash;
                      <span class="text-muted">June 29, 2014 - 11:23</span> &ndash;
                      <span class="size-14 text-muted">
                        <!-- stars -->
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </span>
                    </h4>

                    <p>
                      قطع الدجاج مذاقها جيد جدا و تم اعدادها قبل وقت قصير


                    </p>

                  </div>

                </div>
                <!-- /REVIEW ITEM -->
                <!-- REVIEW ITEM -->
                <div class="block margin-bottom-20">

                  <span class="user-avatar">
                    <!-- user-avatar -->
                    <img class="pull-right media-object" src="assets/images/avatar2.jpg" width="64" height="64" alt="">
                  </span>

                  <div class="media-body">
                    <h4 class="media-heading size-14">
                      أحمد سمير &ndash;
                      <span class="text-muted">June 29, 2014 - 11:23</span> &ndash;
                      <span class="size-14 text-muted">
                        <!-- stars -->
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </span>
                    </h4>

                    <p>
                      قطع الدجاج مذاقها جيد جدا و تم اعدادها قبل وقت قصير


                    </p>

                  </div>

                </div>
                <!-- /REVIEW ITEM -->

                <!-- REVIEW FORM -->
                <h4 class="page-header margin-bottom-40">أضف رايك</h4>
                <form method="post" action="#" id="form">

                  <div class="row margin-bottom-10">

                    <div class="col-md-6 margin-bottom-10">
                      <!-- Name -->
                      <input type="text" name="name" id="name" class="form-control" placeholder="الاسم *" maxlength="100" required="">
                    </div>

                    <div class="col-md-6">
                      <!-- Email -->
                      <input type="email" name="email" id="email" class="form-control" placeholder="الايميل *" maxlength="100" required="">
                    </div>

                  </div>

                  <!-- Comment -->
                  <div class="margin-bottom-30">
                    <textarea name="text" id="text" class="form-control" rows="6" placeholder="اترك تعليقك" maxlength="1000"></textarea>
                  </div>

                  <!-- Stars -->
                  <div class="product-star-vote clearfix">


                    <input type="radio" name="product-review-vote" value="1" /> نجمة واحدة



                    <input type="radio" name="product-review-vote" value="2" /> نجمتين



                    <input type="radio" name="product-review-vote" value="3" /> 3 نجوم



                    <input type="radio" name="product-review-vote" value="4" /> 4 نجوم



                    <input type="radio" name="product-review-vote" value="5" /> 5 نجوم


                  </div>

                  <!-- Send Button -->
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i> رايك يهمنا</button>

                </form>
                <!-- /REVIEW FORM -->

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="toggle-transparent toggle-bordered-full clearfix margin-top-100">
              <div class="toggle active">
                <div class="toggle-content" style="display: block;">

                  <span class="clearfix">
                    <span class="pull-left">120 ريال</span>
                    <strong class="pull-right">المبلغ:</strong>
                  </span>
                  <span class="clearfix">
                    <span class="pull-left">0.00</span>
                    <span class="pull-right">التخفيض:</span>
                  </span>
                  <span class="clearfix">
                    <span class="pull-left">0.00</span>
                    <span class="pull-right">التوصيل:</span>
                  </span>

                  <hr>

                  <span class="clearfix">
                    <span class="pull-left size-20">ريال120.75</span>
                    <strong class="pull-right">الاجمالى:</strong>
                  </span>

                  <hr>

                  <a href="shop-checkout.html" class="btn btn-primary btn-lg btn-block size-15">
                    <i class="fa fa-mail-forward"></i> أكد الطلب</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
