<section class="page-header page-header-lg parallax parallax-3" style="background-image:url('assets/images/demo/thematics/restaurant/slider_2-min.jpg')">
  <div class="overlay dark-5">
    <!-- dark overlay [1 to 9 opacity] -->
  </div>

  <div class="container">

    <h1>قائمة المطاعم</h1>


    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li>
        <a href="#">الرئيسية</a>
      </li>
      <li>
        <a class="active">قائمة المطاعم</a>
      </li>

    </ol>
    <!-- /breadcrumbs -->

  </div>
</section>
<section class="padding-10">

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="fancy-form">
          <i class="fa fa-search"></i>

          <input type="tel" class="form-control" placeholder="ابحث عن مطعمك">

          <!-- tooltip - optional, bootstrap tooltip can be used instead -->
          <span class="fancy-tooltip top-left">
            <!-- positions: .top-left | .top-right -->
            <em>ابحث عن مطعمك</em>
          </span>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-4 col-xs-6 col-lg-5th col-md-4 ">
        <div class="box-image text-center">
          <a class="image-hover" href="#">
            <img class="img-responsive" src="assets/images/logos/Zait-Zaytoon.jpg" alt="" />
          </a>

          <a class="box-image-title" href="#">
            <h2>مطعم زيت الزيتون</h2>
          </a>
          <p class="font-lato weight-300">عربى , لبنان</p>
        </div>

      </div>
      <div class="col-sm-4 col-xs-6 col-lg-5th col-md-4 ">
        <div class="box-image text-center">
          <a class="image-hover" href="#">
            <img class="img-responsive" src="assets/images/logos/Zait-Zaytoon.jpg" alt="" />
          </a>

          <a class="box-image-title" href="#">
            <h2>مطعم زيت الزيتون</h2>
          </a>
          <p class="font-lato weight-300">عربى , لبنان</p>
        </div>

      </div>
      <div class="col-sm-4 col-xs-6 col-lg-5th col-md-4 ">
        <div class="box-image text-center">
          <a class="image-hover" href="#">
            <img class="img-responsive" src="assets/images/logos/Zait-Zaytoon.jpg" alt="" />
          </a>

          <a class="box-image-title" href="#">
            <h2>مطعم زيت الزيتون</h2>
          </a>
          <p class="font-lato weight-300">عربى , لبنان</p>
        </div>

      </div>
      <div class="col-sm-4 col-xs-6 col-lg-5th col-md-4 ">
        <div class="box-image text-center">
          <a class="image-hover" href="#">
            <img class="img-responsive" src="assets/images/logos/Zait-Zaytoon.jpg" alt="" />
          </a>

          <a class="box-image-title" href="#">
            <h2>مطعم زيت الزيتون</h2>
          </a>
          <p class="font-lato weight-300">عربى , لبنان</p>
        </div>

      </div>
      <div class="col-sm-4 col-xs-6 col-lg-5th col-md-4 ">
        <div class="box-image text-center">
          <a class="image-hover" href="#">
            <img class="img-responsive" src="assets/images/logos/Zait-Zaytoon.jpg" alt="" />
          </a>

          <a class="box-image-title" href="#">
            <h2>مطعم زيت الزيتون</h2>
          </a>
          <p class="font-lato weight-300">عربى , لبنان</p>
        </div>

      </div>
    </div>
  </div>

</section>
